@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Arturs Davidenko</h1>
    <p>Test task: "Wish List"</p>
    <a asp-action="HomePage" asp-controller="Home" class="btn btn-success">Get Start</a>
</div>
